## Gradle
/local.properties
.gradle/
gradle-app.setting
build/

## IntelliJ, Android Studio:
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/codeStyles/Project.xml
*.ipr
*.iws
*.iml

## Java
*.class
*.war
*.ear
hs_err_pid*
.attach_pid*

## Android Studio and Intellij and Android in general
android/libs/armeabi/
android/libs/armeabi-v7a/
android/libs/arm64-v8a/
android/libs/x86/
android/libs/x86_64/
android/gen/
android/out/
com_crashlytics_export_strings.xml

## GWT
/html/war/
/html/gwt-unitCache/
.apt_generated/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

## Eclipse
.classpath
.project
.metadata/
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans
**/nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

## OS Specific
.DS_Store
Thumbs.db
